[user]
	name = Jimmy Zhu
	email = jimmzhu@gmail.com
[alias]
	co = checkout
	br = branch
	st = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[push]
	default = upstream
[core]
	excludesfile = ~/.gitignore
